<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
  <header id="header">
    <div class="h_container">

      <div class="logo">
        <a href="/"><img src="/images/logo.png"></a>
      </div>

            <ul class="menu">
                <li><a href="/Thema1">테마</a></li>
                <li><a href="/Map">지도</a></li>
                <li><a href="/Map">채팅</a></li>
            </ul>
            <ul class="mypagelogo">
                <li><a href="/login">login</a></li>
                <li><a href="/Mypage"><img src="/images/myicon.png"></a></li>
            </ul>
    </div>
  </header>
</body>