<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codecookie</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>
    <div class="mainbg">
        <!-- <img src="/images/bgimg.png"> -->
        <h1>메인</h1>
    </div>

    <ul class="icons">
        <li>  <!-- 서울 -->
            <div class="seoul_icon"><img src="/images/seoul.png" alt="logo"> </div>
            <div class="icons_text">서울</div>
        </li>
        <li>  <!-- 인천 -->
            <div class="seoul_icon"><img src="/images/incheon.png" alt="logo"> </div>
            <div class="icons_text">인천</div>
        </li>
        <li>  <!-- 부산 -->
            <div class="seoul_icon"><img src="/images/busan.png" alt="logo"> </div>
            <div class="icons_text">부산</div>
        </li>
        <li>  <!-- 경기 -->
            <div class="seoul_icon"><img src="/images/seoul.png" alt="logo"> </div>
            <div class="icons_text">경기</div>
        </li>
        <li>  <!-- 광주 -->
            <div class="seoul_icon"><img src="/images/seoul.png" alt="logo"> </div>
            <div class="icons_text">광주</div>
        </li>
        <li>  <!-- 강원 -->
            <div class="seoul_icon"><img src="/images/seoul.png" alt="logo"> </div>
            <div class="icons_text">강원</div>
        </li>
    </ul>
    
    <div class="reclayout">
    <p>서울 추천 여행지</p>
    <p><a href=""> 더보기</a></p>
    </div>

    <ul class="recspot">
            <li>
                <a href=""></a>
                <img src="/images/khm.png">광화문
            </li>
            <li>
                <a href=""></a>
                <img src="/images/khm.png">광화문
            </li>
            <li>
                <a href=""></a>
                <img src="/images/khm.png">광화문
            </li>
            <li>
                <a href=""></a>
                <img src="/images/khm.png">광화문
            </li>
    </ul>

    <div class="reclayout">
        <p>서울 추천 맛집</p>
        <p><a href=""> 더보기</a></p>
        </div>
    
        <ul class="recfood">
                <li>
                    <a href=""></a>
                    <img src="/images/khm.png">광화문
                </li>
                <li>
                    <a href=""></a>
                    <img src="/images/khm.png">광화문
                </li>
                <li>
                    <a href=""></a>
                    <img src="/images/khm.png">광화문
                </li>
                <li>
                    <a href=""></a>
                    <img src="/images/khm.png">광화문
                </li>
        </ul>
        <%- include('../../partials/footer.ejs') %>
</body>
</html>
