<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 검색</title>
</head>
<body>
    <% if (user) {%>

        <% for (let i=0; i<result.length; i++) {%>
            <h2><%= result[i].username %></h2>
            <button>친구 추가</button>
        <% } %>

    <% } else{ %>
        <% for (let i=0; i<result.length; i++) {%>
            <h2><%= result[i].username %></h2>
        <% } %>
    <% } %>
</body>
</html>