<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 검색</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="styles/font.css">
    <link rel="stylesheet" href="styles/usersearch.css">
</head>
<body>
    <img src="images/leftarrow.png" width="35px" height="35px" class="back" style="cursor:pointer"><br>


    <% if (user) {%>

        <% for (let i=0; i<result.length; i++) {%>
            <% if (result[i].username == user.username) continue%>
            <div style="margin-bottom:14px;">
                <h2 style="display:inline"><%= result[i].username %></h2>
                <button type="submit" class="addfriend" data-id="<%= result[i].username %>" style="margin-left:10px;"><span>친구 추가</span></button><br>
            </div>
        <% } %>

    <% } else{ %>
        <% for (let i=0; i<result.length; i++) {%>
            <h2><%= result[i].username %></h2>
        <% } %>
    <% } %>



    <script>
        let button = document.querySelectorAll('.addfriend')
        for (let i=0; i<button.length; i++) {
            button[i].addEventListener('click',()=>{
                location.href = 'friendrequest?username=<%= user.username %>&friendname='+button[i].dataset.id
            })
        }
        let back = document.querySelector('.back')
        back.addEventListener('click',(e)=>{
            location.href='/user'
        })
    </script>
</body>
</html>