* {
  margin:0; 
  padding:0;
}
li {
  list-style: none;
}
.kind_wrap {
  /* border:2px solid grey; */
  border-radius: 20px;
  width:100%; 
  max-width:600px; 
  margin:0 auto; 
  position: relative;
}
.kind_wrap > .kind_slider {
  overflow: hidden;
}
.kind_wrap > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {
  opacity: 0.9;
  vertical-align: top;
  border-radius: 18px;
}
.kind_wrap .arrow > a.prev {
  position: absolute; 
  left:-50px; 
  top:100px;
}
.kind_wrap .arrow > a.next {
  position: absolute; 
  right:-50px; 
  top:100px;
}

.recspot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec h3 {
  text-align: center;
  font-size: 30px bold;
  margin: 30px;
  margin-top: 200px;
}

.recspot .rec {
  margin-left: 20px;
  background-color: rgb(234, 234, 234);
  border-radius: 20%;
  height: 300px;
  width: 300px;
}