#map {
    width: 100%;
    height: 500px; /* 예시로 높이 500px 설정 */
  }

  h1 {
    text-align: center;
  }

  button {
    position: absolute;
    top: 50%;      /* 세로 중앙으로 이동 */
    left: 50%;     /* 가로 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 요소의 정중앙으로 이동 */
  }

  #status {
    text-align: center;
  }