<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="styles/font.css">
    <link rel="stylesheet" href="styles/Thema2.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>


      <div class="background-container">
        <div class="purple-background">
            <section class="theme-section">
                <h1>Do you know 태양의 후예?</h1>
                <p>드라마 주인공이 되어 볼래?</p>
              </section>
            
        </div>
        <div class="white-background">
          <div class="card-container">
            <div class="card small"></div>
            <div class="card small"></div>
            <div class="card small"></div>
            <div class="card large"></div>
            <div class="card small"></div>
          </div>
        </div>

        <div class="link">
            <p>또다른 테마여행을 하고 싶다면?<br>
            <a href="/Thema1"> ▶ 다른 테마 보러가기</a></p>
        </div>

        <div class="rec">
            <h3>지금 날씨 추천 장소</h3>
            <div class="recspot">
              <div class="rec"></div>
              <div class="rec"></div>
              <div class="rec"></div>
      
            </div>
          </div>

          <div class="rec">
            <h3>산뜻한 봄 여행 추천 장소</h3>
            <div class="recspot">
              <div class="rec"></div>
              <div class="rec"></div>
              <div class="rec"></div>
      
            </div>
          </div>

          <div class="rec">
            <h3>더운 여름, 여행 추천 장소</h3>
            <div class="recspot">
              <div class="rec"></div>
              <div class="rec"></div>
              <div class="rec"></div>
      
            </div>
          </div>

          <div class="rec">
            <h3>시원한 가을 날씨, 딱 좋은 여행 추천 장소</h3>
            <div class="recspot">
              <div class="rec"></div>
              <div class="rec"></div>
              <div class="rec"></div>
      
            </div>
          </div>

          <div class="rec">
            <h3>추운 겨울, 낭만있는 여행 추천 장소</h3>
            <div class="recspot">
              <div class="rec"></div>
              <div class="rec"></div>
              <div class="rec"></div>
      
            </div>
          </div>

      </div>

      

</body>
</html>